#home_leg{
    background-image: url("user-icon.png");
    background-position: center!important;
    background-repeat: no-repeat;
    width: 100%;
    height: 35vh;
}
.nav_r{
    font-weight: 100;
}
.row2{
    text-align: left;
    padding-left: 10px;
    padding-bottom: 20px;
}
login-row{
    background-color: red!important;
}
.log-bac{
    background-color: white;
    padding: 20px 50px 20px 50px;
    top: 80px;
;
}
.bac_b{
    background-color: #f1f3f4;!important;
}
/*.bac_b{*/
/*    background-color:white;*/
/*}*/
border-box
h3{
    height: 20vh;
}
.body-font{
    font-weight: 200;
}
.body-head{
    font-weight: 200;
}
.center-col{
    text-align: center!important;
    background-color:#007bff;
    color: white;
    padding: 7px;
}
a{
    color: lightskyblue;!important;
}
h2{
    color: darkslategrey;
    font-weight: 100;
}
#log_c{
    color: white;
}
.head{
    font-size: 3em;
    color: darkslategrey;
    margin: 10px;
    text-align: center;
}
.nav_r{
    justify-content: center;
    align-items: center;
    background-color:white!important;}
.cm_body{
    background-color:white;
}





