{% extends 'base.html' %}
{% block content %}
 <head>
<link rel="stylesheet" type="text/css" href="/media/style.css">
</head>
<body class="cm_body">

     <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form action="saveEmployee" method="POST"  enctype="multipart/form-data">
                        {% csrf_token %}

                             <div class="row2"><h2>Employee</h2></div>
                            <div id="log_c" class="form-group">
                                <label for="firstName" class="text-info">First Name:</label><br>
                                 <input type="text" name="firstname" class="form-control" placeholder="First Name">
                            </div>
                            <div id="log_c" class="form-group">
                                <label for="lastName" class="text-info">Last Name:</label><br>
                                <input type="text" name="lastname" class="form-control" placeholder="Last Name">
                            </div>
                             <div id="log_c" class="form-group">
                                <label for="company" class="text-info">Company:</label><br>
                                 <input type="text" name="company" class="form-control" placeholder="Company">
                            </div>
                             <div id="log_c" class="form-group">
                                <label for="email" class="text-info">Email:</label><br>
                                 <input type="text" name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                             <input type="submit" class="btn btn-primary" id="submit">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<br/>
<table  class="table table-hover">
<thead>
<tr class="body-head">
    <th>First Name</th>
    <th>Last Name</th>
    <th>Company</th>
    <th>Email</th>
    <th>Remove</th>
</tr>
</thead>
<tbody>
{% for employee in object_list %}
<tr class="body-font">
    <td>{{ employee.firstname }}</td>
    <td>{{ employee.lastname }}</td>
    <td>{{ employee.company_id }}</td>
    <td>{{ employee.email }}</td>
    <td><a href="deleteEmployee/{{employee.id}}">Delete</a></td>
</tr>

{% endfor %}
</tbody>
</table>
</body>

{% endblock %}