{% extends 'base.html' %}
{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="/media/style.css">
</head>
<body class="cm_body">

    <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">`
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form class="form_c" action="saveCompany" method="POST"  enctype="multipart/form-data">
                         {% csrf_token %}
                            <div id="log_c" class="form-group">
                                <div class="row2"><h2>Company</h2></div>
                                <label for="username" class="text-info">Name:</label><br>
                                 <input type="text" name="name" class="form-control" placeholder="name">
                            </div>
                            <div id="log_c" class="form-group">
                                <label for="password" class="text-info">Email:</label><br>
                                <input type="text" name="email" class="form-control" placeholder="email">
                            </div>
                             <div id="log_c" class="form-group">
                                <label for="password" class="text-info">Logo:</label><br>
                                 <input type="file" name="logo" class="form-control" placeholder="logo">
                            </div>
                             <div id="log_c" class="form-group">
                                <label for="password" class="text-info">Website:</label><br>
                                <input type="text" name="website" class="form-control" placeholder="website">
                            </div>
                            <div class="form-group">
                                 <input type="submit" class="btn btn-primary" id="submit">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<br/>
<table  class="table table-hover">
<thead>
<tr body-head>
    <th>Name</th>
    <th>Email</th>
    <th>Logo</th>
    <th>Website</th>
    <th>Remove</th>
</tr>
</thead>
<tbody>
{% for company in object_list %}
<tr class="body-font">
    <td>{{ company.name }}</td>
    <td>{{ company.email }}</td>
    <td><img style="width:100px; height:100px" src=".{{company.logo }}"></td>
    <td>{{ company.website }}</td>
    <td><a href="deleteCompany/{{company.id}}">Delete</a></td>
</tr>

{% endfor %}
</tbody>
</table>
</body>

{% endblock %}