<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width= device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <title> Practical Test</title>
        <link rel="stylesheet" type="text/css" href="/media/style.css">
    </head>
    <body>
      <div class="row head nav_r">Practical Test</div>
      <div class="row nav_r">
          <div class="col-4 center-col"><a class="nav-link" href="/company">Company</a></div>
          <div class="col-4 center-col"><a class="nav-link" href="/employee">Employee</a></div>
          <div class="col-4 center-col"> <a class="nav-link" href="/">Log Out</a></div>

      </div>
        <br/>
        <div style="padding: 10px">
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>